@import "modules/_variables.pcss";
@import "modules/_global.pcss";
@import "modules/_fonts.pcss";

/* pages */
@import "pages/_projekt.pcss";
@import "pages/_about.pcss";
@import "pages/_index.pcss";

/* utilities */
@import "utilities/_main-nav.pcss";
@import "utilities/_language-menu.pcss";
@import "utilities/_brick.pcss";

@import "modules/_media-queries.pcss";
