article.brick {

  figure {
    overflow: hidden;

    img {
      width: 100%;
      height: 370px;
      object-fit: cover;
      transition: transform 0.2s ease-in;
    }
  }
  p {
    line-height: 40px;
  }
  a:hover img {
    transform: scale(1.05);
  }
}



@media only screen and (max-width: $smallScreen) {
  article.brick {
    margin-bottom: $margin-bottom;

    figure img {
      height: auto;
    }

    a:hover img {
      transform: none;
    }
  }
}
